<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.CartoonAllTypeMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.CartoonAllType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="CartoonId" jdbcType="VARCHAR" property="cartoonid" />
    <result column="CartoonTypeId" jdbcType="VARCHAR" property="cartoontypeid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, CartoonId, CartoonTypeId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cartoonalltype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cartoonalltype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.CartoonAllType">
    insert into cartoonalltype (id, CartoonId, CartoonTypeId
      )
    values (#{id,jdbcType=VARCHAR}, #{cartoonid,jdbcType=VARCHAR}, #{cartoontypeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.CartoonAllType">
    insert into cartoonalltype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cartoonid != null">
        CartoonId,
      </if>
      <if test="cartoontypeid != null">
        CartoonTypeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cartoonid != null">
        #{cartoonid,jdbcType=VARCHAR},
      </if>
      <if test="cartoontypeid != null">
        #{cartoontypeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.CartoonAllType">
    update cartoonalltype
    <set>
      <if test="cartoonid != null">
        CartoonId = #{cartoonid,jdbcType=VARCHAR},
      </if>
      <if test="cartoontypeid != null">
        CartoonTypeId = #{cartoontypeid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.CartoonAllType">
    update cartoonalltype
    set CartoonId = #{cartoonid,jdbcType=VARCHAR},
      CartoonTypeId = #{cartoontypeid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>