<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.DistributorTotalYmdMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.DistributorTotalYmd">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="distridutionId" jdbcType="VARCHAR" property="distridutionid" />
    <result column="implDate" jdbcType="VARCHAR" property="impldate" />
    <result column="ordinaryRecharge" jdbcType="DOUBLE" property="ordinaryrecharge" />
    <result column="ordinaryRechargeNum" jdbcType="INTEGER" property="ordinaryrechargenum" />
    <result column="perCapitaRecharge" jdbcType="DOUBLE" property="percapitarecharge" />
    <result column="recharge" jdbcType="DOUBLE" property="recharge" />
    <result column="rechargePersonNum" jdbcType="INTEGER" property="rechargepersonnum" />
    <result column="totalType" jdbcType="INTEGER" property="totaltype" />
    <result column="vipRecharge" jdbcType="DOUBLE" property="viprecharge" />
    <result column="vipRechargeNum" jdbcType="INTEGER" property="viprechargenum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, distridutionId, implDate, ordinaryRecharge, ordinaryRechargeNum, perCapitaRecharge, 
    recharge, rechargePersonNum, totalType, vipRecharge, vipRechargeNum
  </sql>

  <sql id="Custom_Sql">
    implDate, ordinaryRecharge, ordinaryRechargeNum, perCapitaRecharge,
    recharge, rechargePersonNum, totalType, vipRecharge, vipRechargeNum
  </sql>

  <sql id="Custom_Sql2">
    id, distridutionId
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from distributortotalymd
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from distributortotalymd
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.DistributorTotalYmd">
    insert into distributortotalymd (id, distridutionId, implDate, 
      ordinaryRecharge, ordinaryRechargeNum, perCapitaRecharge, 
      recharge, rechargePersonNum, totalType, 
      vipRecharge, vipRechargeNum)
    values (#{id,jdbcType=VARCHAR}, #{distridutionid,jdbcType=VARCHAR}, #{impldate,jdbcType=VARCHAR}, 
      #{ordinaryrecharge,jdbcType=DOUBLE}, #{ordinaryrechargenum,jdbcType=INTEGER}, #{percapitarecharge,jdbcType=DOUBLE}, 
      #{recharge,jdbcType=DOUBLE}, #{rechargepersonnum,jdbcType=INTEGER}, #{totaltype,jdbcType=INTEGER}, 
      #{viprecharge,jdbcType=DOUBLE}, #{viprechargenum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.DistributorTotalYmd">
    insert into distributortotalymd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="distridutionid != null">
        distridutionId,
      </if>
      <if test="impldate != null">
        implDate,
      </if>
      <if test="ordinaryrecharge != null">
        ordinaryRecharge,
      </if>
      <if test="ordinaryrechargenum != null">
        ordinaryRechargeNum,
      </if>
      <if test="percapitarecharge != null">
        perCapitaRecharge,
      </if>
      <if test="recharge != null">
        recharge,
      </if>
      <if test="rechargepersonnum != null">
        rechargePersonNum,
      </if>
      <if test="totaltype != null">
        totalType,
      </if>
      <if test="viprecharge != null">
        vipRecharge,
      </if>
      <if test="viprechargenum != null">
        vipRechargeNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="distridutionid != null">
        #{distridutionid,jdbcType=VARCHAR},
      </if>
      <if test="impldate != null">
        #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="ordinaryrecharge != null">
        #{ordinaryrecharge,jdbcType=DOUBLE},
      </if>
      <if test="ordinaryrechargenum != null">
        #{ordinaryrechargenum,jdbcType=INTEGER},
      </if>
      <if test="percapitarecharge != null">
        #{percapitarecharge,jdbcType=DOUBLE},
      </if>
      <if test="recharge != null">
        #{recharge,jdbcType=DOUBLE},
      </if>
      <if test="rechargepersonnum != null">
        #{rechargepersonnum,jdbcType=INTEGER},
      </if>
      <if test="totaltype != null">
        #{totaltype,jdbcType=INTEGER},
      </if>
      <if test="viprecharge != null">
        #{viprecharge,jdbcType=DOUBLE},
      </if>
      <if test="viprechargenum != null">
        #{viprechargenum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.DistributorTotalYmd">
    update distributortotalymd
    <set>
      <if test="distridutionid != null">
        distridutionId = #{distridutionid,jdbcType=VARCHAR},
      </if>
      <if test="impldate != null">
        implDate = #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="ordinaryrecharge != null">
        ordinaryRecharge = #{ordinaryrecharge,jdbcType=DOUBLE},
      </if>
      <if test="ordinaryrechargenum != null">
        ordinaryRechargeNum = #{ordinaryrechargenum,jdbcType=INTEGER},
      </if>
      <if test="percapitarecharge != null">
        perCapitaRecharge = #{percapitarecharge,jdbcType=DOUBLE},
      </if>
      <if test="recharge != null">
        recharge = #{recharge,jdbcType=DOUBLE},
      </if>
      <if test="rechargepersonnum != null">
        rechargePersonNum = #{rechargepersonnum,jdbcType=INTEGER},
      </if>
      <if test="totaltype != null">
        totalType = #{totaltype,jdbcType=INTEGER},
      </if>
      <if test="viprecharge != null">
        vipRecharge = #{viprecharge,jdbcType=DOUBLE},
      </if>
      <if test="viprechargenum != null">
        vipRechargeNum = #{viprechargenum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.DistributorTotalYmd">
    update distributortotalymd
    set distridutionId = #{distridutionid,jdbcType=VARCHAR},
      implDate = #{impldate,jdbcType=VARCHAR},
      ordinaryRecharge = #{ordinaryrecharge,jdbcType=DOUBLE},
      ordinaryRechargeNum = #{ordinaryrechargenum,jdbcType=INTEGER},
      perCapitaRecharge = #{percapitarecharge,jdbcType=DOUBLE},
      recharge = #{recharge,jdbcType=DOUBLE},
      rechargePersonNum = #{rechargepersonnum,jdbcType=INTEGER},
      totalType = #{totaltype,jdbcType=INTEGER},
      vipRecharge = #{viprecharge,jdbcType=DOUBLE},
      vipRechargeNum = #{viprechargenum,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--查询分销商本月和全部收益-->
  <select id="selectOrderTotalThisMonth" resultMap="BaseResultMap">
    SELECT
    <include refid="Custom_Sql"/>
    FROM Distributortotalymd WHERE distridutionId = #{authorization,jdbcType=VARCHAR}
    ORDER BY totalType ASC
  </select>

  <!--查看分销商是否已有记录-->
  <select id="selectByDistributorId" resultMap="BaseResultMap">
    SELECT
    <include refid="Custom_Sql2"/>
    FROM Distributortotalymd WHERE distridutionId = #{id,jdbcType=VARCHAR}
    ORDER BY totalType ASC
  </select>

  <!--/实/例化更新后本月和全部收益及数据(老用户)-->
  <update id="updateDistributorTotal">
    update distributortotalymd
    <set>
      <if test="distridutionid != null">
        distridutionid = #{distridutionid,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        impldate = #{date,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        ordinaryrecharge = #{total,jdbcType=DOUBLE},
      </if>
      <if test="numCount != null">
        ordinaryrechargenum = #{numCount,jdbcType=INTEGER},
      </if>
      <if test="percapitarecharge != null">
        percapitarecharge = #{percapitarecharge,jdbcType=DOUBLE},
      </if>
      <if test="sum != null">
        recharge = #{sum,jdbcType=DOUBLE},
      </if>
      <if test="rechargepersonnum != null">
        rechargepersonnum = #{rechargepersonnum,jdbcType=INTEGER},
      </if>
      <if test="i != null">
        totaltype = #{i,jdbcType=INTEGER},
      </if>
      <if test="total102 != null">
        viprecharge = #{total102,jdbcType=DOUBLE},
      </if>
      <if test="numCount102 != null">
        viprechargenum = #{numCount102,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--//实例化更新后本月和全部收益及数据(新用户)-->
  <insert id="addDistributorTotal">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into distributortotalymd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="distridutionId != null">
        distridutionid,
      </if>
      <if test="date != null">
        impldate,
      </if>
      <if test="total != null">
        ordinaryrecharge,
      </if>
      <if test="numCount != null">
        ordinaryrechargenum,
      </if>
      <if test="percapitarecharge != null">
        percapitarecharge,
      </if>
      <if test="sum != null">
        recharge,
      </if>
      <if test="rechargepersonnum != null">
        rechargepersonnum,
      </if>
      <if test="i != null">
        totaltype,
      </if>
      <if test="total102 != null">
        viprecharge,
      </if>
      <if test="numCount102 != null">
        viprechargenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="distridutionId != null">
        #{distridutionId,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="numCount != null">
        #{numCount,jdbcType=INTEGER},
      </if>
      <if test="percapitarecharge != null">
        #{percapitarecharge,jdbcType=DOUBLE},
      </if>
      <if test="sum != null">
        #{sum,jdbcType=DOUBLE},
      </if>
      <if test="rechargepersonnum != null">
        #{rechargepersonnum,jdbcType=INTEGER},
      </if>
      <if test="i != null">
        #{i,jdbcType=INTEGER},
      </if>
      <if test="total102 != null">
        #{total102,jdbcType=DOUBLE},
      </if>
      <if test="numCount102 != null">
        #{numCount102,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>