<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.DistributorMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.Distributor">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="AccountName" jdbcType="VARCHAR" property="accountname" />
    <result column="AccountNum" jdbcType="VARCHAR" property="accountnum" />
    <result column="allRecharge" jdbcType="DOUBLE" property="allrecharge" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="headImg" jdbcType="VARCHAR" property="headimg" />
    <result column="implDate" jdbcType="VARCHAR" property="impldate" />
    <result column="lastLoginDate" jdbcType="VARCHAR" property="lastlogindate" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="overRecharge" jdbcType="DOUBLE" property="overrecharge" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="proportion" jdbcType="DOUBLE" property="proportion" />
    <result column="qd" jdbcType="VARCHAR" property="qd" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="userType" jdbcType="VARCHAR" property="usertype" />
    <result column="withdrawalsType" jdbcType="INTEGER" property="withdrawalstype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, AccountName, AccountNum, allRecharge, balance, email, headImg, implDate, lastLoginDate, 
    nickName, overRecharge, payType, phone, proportion, qd, state, userName, userPwd, 
    userType, withdrawalsType
  </sql>
  <sql id="Custom_Sql">
    id, AccountName, AccountNum, allRecharge, balance, email, headImg, implDate, lastLoginDate,
    nickName, overRecharge, payType, phone, proportion, qd, state, userName,
    userType, withdrawalsType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from distributor
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from distributor
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.Distributor">
    insert into distributor (id, AccountName, AccountNum, 
      allRecharge, balance, email, 
      headImg, implDate, lastLoginDate, 
      nickName, overRecharge, payType, 
      phone, proportion, qd, 
      state, userName, userPwd, 
      userType, withdrawalsType)
    values (#{id,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, #{accountnum,jdbcType=VARCHAR}, 
      #{allrecharge,jdbcType=DOUBLE}, #{balance,jdbcType=DOUBLE}, #{email,jdbcType=VARCHAR}, 
      #{headimg,jdbcType=VARCHAR}, #{impldate,jdbcType=VARCHAR}, #{lastlogindate,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{overrecharge,jdbcType=DOUBLE}, #{paytype,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{proportion,jdbcType=DOUBLE}, #{qd,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=VARCHAR}, #{withdrawalstype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.Distributor">
    insert into distributor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountname != null">
        AccountName,
      </if>
      <if test="accountnum != null">
        AccountNum,
      </if>
      <if test="allrecharge != null">
        allRecharge,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="headimg != null">
        headImg,
      </if>
      <if test="impldate != null">
        implDate,
      </if>
      <if test="lastlogindate != null">
        lastLoginDate,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="overrecharge != null">
        overRecharge,
      </if>
      <if test="paytype != null">
        payType,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="proportion != null">
        proportion,
      </if>
      <if test="qd != null">
        qd,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpwd != null">
        userPwd,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="withdrawalstype != null">
        withdrawalsType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountnum != null">
        #{accountnum,jdbcType=VARCHAR},
      </if>
      <if test="allrecharge != null">
        #{allrecharge,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="impldate != null">
        #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="lastlogindate != null">
        #{lastlogindate,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="overrecharge != null">
        #{overrecharge,jdbcType=DOUBLE},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null">
        #{proportion,jdbcType=DOUBLE},
      </if>
      <if test="qd != null">
        #{qd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalstype != null">
        #{withdrawalstype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.Distributor">
    update distributor
    <set>
      <if test="accountname != null">
        AccountName = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountnum != null">
        AccountNum = #{accountnum,jdbcType=VARCHAR},
      </if>
      <if test="allrecharge != null">
        allRecharge = #{allrecharge,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null">
        headImg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="impldate != null">
        implDate = #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="lastlogindate != null">
        lastLoginDate = #{lastlogindate,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="overrecharge != null">
        overRecharge = #{overrecharge,jdbcType=DOUBLE},
      </if>
      <if test="paytype != null">
        payType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null">
        proportion = #{proportion,jdbcType=DOUBLE},
      </if>
      <if test="qd != null">
        qd = #{qd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        userPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalstype != null">
        withdrawalsType = #{withdrawalstype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.Distributor">
    update distributor
    set AccountName = #{accountname,jdbcType=VARCHAR},
      AccountNum = #{accountnum,jdbcType=VARCHAR},
      allRecharge = #{allrecharge,jdbcType=DOUBLE},
      balance = #{balance,jdbcType=DOUBLE},
      email = #{email,jdbcType=VARCHAR},
      headImg = #{headimg,jdbcType=VARCHAR},
      implDate = #{impldate,jdbcType=VARCHAR},
      lastLoginDate = #{lastlogindate,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      overRecharge = #{overrecharge,jdbcType=DOUBLE},
      payType = #{paytype,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      proportion = #{proportion,jdbcType=DOUBLE},
      qd = #{qd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      userPwd = #{userpwd,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=VARCHAR},
      withdrawalsType = #{withdrawalstype,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--分销商登录-->
  <select id="distributorLogin" resultMap="BaseResultMap">
      SELECT
      <include refid="Custom_Sql"/>
      FROM distributor WHERE state=1 AND userName=#{userName,jdbcType=VARCHAR}
      AND userPwd=#{userPwd,jdbcType=VARCHAR}
  </select>
  <!--修改最後登陸時間-->
  <update id="updateLastlogindate" parameterType="java.lang.String">
     update distributor
     set  lastLoginDate = #{lastlogindate,jdbcType=VARCHAR} WHERE id=#{id,jdbcType=VARCHAR}
  </update>
  <!--分销商修改密码-->
  <update id="updateUserPwd" parameterType="java.lang.String">
    update distributor
     set userPwd = #{newUserPwd,jdbcType=VARCHAR} WHERE id=#{authorization,jdbcType=VARCHAR} AND userPwd=#{userPwd,jdbcType=VARCHAR}
  </update>
  <!--查詢分銷商qd根據id-->
  <select id="selectQdByPrimaryKey" resultMap="BaseResultMap">
    SELECT qd FROM Distributor WHERE id=#{id}
  </select>

  <!--身份认证为生成用户token-->
  <select id="getDistributor" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM Distributor WHERE userName=#{username,jdbcType=VARCHAR}
  </select>

  <select id="getDistributorData"  resultType="com.crxl.qpp.comicdis.basics.entity.data.DistributorData">
    SELECT d.*,r.name AS role
    FROM Distributor AS d,DistributorRole AS dr,Role AS r
    WHERE d.id=dr.distributorId
    AND dr.roleId=r.id AND d.userName=#{username,jdbcType=VARCHAR}

  </select>

  <!--查询所有ID QD-->
  <select id="selectAllIdQd" resultMap="BaseResultMap">
    SELECT id,qd,proportion FROM Distributor
  </select>

  <update id="updateReCharge">
    update distributor
    <set>
      <if test="allrecharge != null">
        allRecharge = #{allrecharge,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--查询所有算账-->
  <select id="selectAllIdQd2" resultMap="BaseResultMap">
    SELECT id,qd,proportion,nickName,allRecharge FROM Distributor
  </select>


</mapper>