<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.News">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="deleteState" jdbcType="INTEGER" property="deletestate" />
    <result column="implDate" jdbcType="VARCHAR" property="impldate" />
    <result column="sendDate" jdbcType="VARCHAR" property="senddate" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, deleteState, implDate, sendDate, state, title, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from news
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.News">
    insert into news (id, content, deleteState, 
      implDate, sendDate, state, 
      title, type)
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{deletestate,jdbcType=INTEGER}, 
      #{impldate,jdbcType=VARCHAR}, #{senddate,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="deletestate != null">
        deleteState,
      </if>
      <if test="impldate != null">
        implDate,
      </if>
      <if test="senddate != null">
        sendDate,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="deletestate != null">
        #{deletestate,jdbcType=INTEGER},
      </if>
      <if test="impldate != null">
        #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="senddate != null">
        #{senddate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.News">
    update news
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="deletestate != null">
        deleteState = #{deletestate,jdbcType=INTEGER},
      </if>
      <if test="impldate != null">
        implDate = #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="senddate != null">
        sendDate = #{senddate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.News">
    update news
    set content = #{content,jdbcType=VARCHAR},
      deleteState = #{deletestate,jdbcType=INTEGER},
      implDate = #{impldate,jdbcType=VARCHAR},
      sendDate = #{senddate,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>