<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.SearchHistoryMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.SearchHistory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ImplDate" jdbcType="VARCHAR" property="impldate" />
    <result column="conext" jdbcType="VARCHAR" property="conext" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ImplDate, conext, userid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from searchhistory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from searchhistory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.SearchHistory">
    insert into searchhistory (id, ImplDate, conext, 
      userid)
    values (#{id,jdbcType=VARCHAR}, #{impldate,jdbcType=VARCHAR}, #{conext,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.SearchHistory">
    insert into searchhistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="impldate != null">
        ImplDate,
      </if>
      <if test="conext != null">
        conext,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="impldate != null">
        #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="conext != null">
        #{conext,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.SearchHistory">
    update searchhistory
    <set>
      <if test="impldate != null">
        ImplDate = #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="conext != null">
        conext = #{conext,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.SearchHistory">
    update searchhistory
    set ImplDate = #{impldate,jdbcType=VARCHAR},
      conext = #{conext,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>