<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crxl.qpp.comicdis.basics.dao.VeryOkMapper">
  <resultMap id="BaseResultMap" type="com.crxl.qpp.comicdis.basics.entity.VeryOk">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cartoonSetId" jdbcType="VARCHAR" property="cartoonsetid" />
    <result column="okDate" jdbcType="VARCHAR" property="okdate" />
    <result column="okState" jdbcType="INTEGER" property="okstate" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cartoonSetId, okDate, okState, userId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from veryok
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veryok
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crxl.qpp.comicdis.basics.entity.VeryOk">
    insert into veryok (id, cartoonSetId, okDate, 
      okState, userId)
    values (#{id,jdbcType=VARCHAR}, #{cartoonsetid,jdbcType=VARCHAR}, #{okdate,jdbcType=VARCHAR}, 
      #{okstate,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crxl.qpp.comicdis.basics.entity.VeryOk">
    insert into veryok
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cartoonsetid != null">
        cartoonSetId,
      </if>
      <if test="okdate != null">
        okDate,
      </if>
      <if test="okstate != null">
        okState,
      </if>
      <if test="userid != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cartoonsetid != null">
        #{cartoonsetid,jdbcType=VARCHAR},
      </if>
      <if test="okdate != null">
        #{okdate,jdbcType=VARCHAR},
      </if>
      <if test="okstate != null">
        #{okstate,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crxl.qpp.comicdis.basics.entity.VeryOk">
    update veryok
    <set>
      <if test="cartoonsetid != null">
        cartoonSetId = #{cartoonsetid,jdbcType=VARCHAR},
      </if>
      <if test="okdate != null">
        okDate = #{okdate,jdbcType=VARCHAR},
      </if>
      <if test="okstate != null">
        okState = #{okstate,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crxl.qpp.comicdis.basics.entity.VeryOk">
    update veryok
    set cartoonSetId = #{cartoonsetid,jdbcType=VARCHAR},
      okDate = #{okdate,jdbcType=VARCHAR},
      okState = #{okstate,jdbcType=INTEGER},
      userId = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>